@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Poppins:wght@100;300;400;500;600&display=swap');

/*
    @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Josefin+Sans:ital,wght@0,200;0,300;1,200;1,300&family=Poppins:wght@100;300;500;600&display=swap');
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Base Html Codes */
body{
    width: 100%;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: black;
}
/* Base Html Codes */

/* Header Start */
header{
    background-color: black;
}

a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

nav #world{
    color: skyblue;
    margin-left: 10px;
    font-size: 35px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: skyblue;
}

.nav{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
    background-color: white;
}
/* Header End */


/*Fotter Start*/

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color:white ;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}
.socials li i{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
}
.footer-menu{
    margin-bottom: 20px;
}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    padding-right: 10px;
    display: block;
}
.footer-menu ul li a{
    color: #cfd2d6;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: #27bcda;
}
.footer-bottom{
    background: #000;
    margin-top: 20px;
    width: 100vw;
    padding: 10px;
    text-align: center;
}
.footer-bottom p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}


/*Fotter End*/

/* Responsive Start */
@media (max-width:1048px) {
    .logo{
        font-size: 31px;
        padding-left: 60px;
    }

    .nav-menu{
        margin-right: 20px;
    }

    a{
        font-size: 17px;
    }
}

@media (max-width:768px) {
    .nav{
        display: block;
    }

    .nav.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(33, 32, 32);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}


/* Responsive End */