@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Poppins:wght@100;300;400;500;600&display=swap');

/*
    @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Josefin+Sans:ital,wght@0,200;0,300;1,200;1,300&family=Poppins:wght@100;300;500;600&display=swap');
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Base Html Codes */
body{
    width: 100%;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: black;
}
/* Base Html Codes */

/* Header Start */
header{
    background-color: black;
}

a{
    color: white;
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

nav #world{
    color: skyblue;
    margin-left: 10px;
    font-size: 35px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-menu .nav-item i{
    display: none;
    color: skyblue;
    font-size: 15px;
}

.logoName{
    font-size: 1.5rem;
}

.link{
    transition: 0.7s ease;
}

.link:hover{
    color: skyblue;
}

.nav{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
    background-color: white;
}
/* Header End */

/*Login Start*/
.giris{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #00ff00;
    background: url(img/bg2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,2555,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}   

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}

.input ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right: 3px;
}

.forget label a{
    color: #fff;
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

.btn{
    display: flex;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 5px;
}

#signUp{
    color: darkgray;
}

.kayıtOl{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.kayıtOl p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.kayıtOl p a:hover{
    text-decoration: underline;
}
/*Login End*/

/*Fotter Start*/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.iletisim-bilgi{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.iletisim-bilgi li{
    margin: 0 10px;
}
.iletisim-bilgi li i{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
}
.ftr-menu{
    margin-bottom: 20px;
}
.ftr-menu ul{
    display: flex;
}
.ftr-menu ul li{
    padding-right: 10px;
    display: block;
}
.ftr-menu ul li a{
    color: #cfd2d6;
    border: 1.3px solid white;
    padding: 6px 15px;
    border-radius: 50px;
    text-decoration: none;
}
.ftr-menu ul li a:hover{
    color: skyblue;
}
.ftr-bottom{
    background: #000;
    margin-top: 20px;
    width: 100vw;
    padding: 10px;
    text-align: center;
}
.ftr-bottom p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.ftr-bottom p a{
    color: skyblue;
    font-size: 16px;
    text-decoration: none;
}


/*Fotter End*/

/* Responsive Start */
@media (max-width:1048px) {
    .logo{
        font-size: 30px;
    }

    .nav-menu{
        margin-right: 20px;
    }

    .nav-item a{
        font-size: 17px;
    }
}

@media (max-width:950px) {
    .logo{
        font-size: 20px;
    }

    .nav-menu{
        margin-right: 15px;
    }

    .nav-item a{
        font-size: 15px;
    }
}

@media (max-width:850px) {
    .logo{
        font-size: 15px;
    }

    .nav-menu{
        margin-right: 10px;
    }

    .nav-item a{
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .nav{
        display: block;
    }

    .nav.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(33, 32, 32);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    
    .nav-item{
        margin: 16px 0;
    }

    .nav-item a{
        font-size: 17px;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-menu.active .nav-item i{
        display: inline-block;
    }
}


/* Responsive End */