@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
    --color1: #000000;
    --color2: #2d2d2d;
    --color3: #696969;
    --color4: #146C94;
    --whiteColor: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    list-style: none;
    text-decoration: none;
}

/* Base Html Codes */
body{
    /* width: 100%; */
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: var(--whiteColor);
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--color1);
    overflow: hidden;
}
/* Base Html Codes */

/* Header Start */
header{
    background-color: var(--color1);
}

.navbar a{
    color: var(--whiteColor);
    font-size: 18px;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
    transition: 0.3s ease;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color4);
    margin-left: 10px;
    font-size: 35px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

#world{
    font-size: 35px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    transition: 0.3s ease;
}

.nav-menu .nav-item i{
    display: none;
    color: var(--color4);
    font-size: 15px;
}

.logoName{
    font-size: 1.5rem;
}

#actv{
    color: var(--color4);
}

.link:hover{
    color:  var(--color4);
}

.nav{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;
    background-color: var(--whiteColor);
}
/* Header End */

/*Login Start*/
.giris{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(img/İskenderiyeFeneri.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,2555,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

h2{
    font-size: 2em;
    color: var(--whiteColor);
    text-align: center;
}

.input{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid var(--whiteColor);
}

.input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: var(--whiteColor);
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}   

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: var(--whiteColor);
}

.input ion-icon{
    position: absolute;
    right: 8px;
    color: var(--whiteColor);
    font-size: 1.2em;
    top: 20px;
}

.input i{
    position: absolute;
    right: 8px;
    color: var(--whiteColor);
    font-size: 1.2em;
    top: 20px;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
}

.forget label input{
    margin-right: 3px;
}

.forget label a{
    color: var(--whiteColor);
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

.buton{
    display: flex;
}

.giris button{
    color: var(--color1);
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: var(--whiteColor);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 5px;
}

#signUp{
    color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: var(--whiteColor);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 5px;
}

#login{
    color: var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: var(--whiteColor);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 5px;
}

.kayıtOl{
    font-size: .9em;
    color: var(--whiteColor);
    text-align: center;
    margin: 25px 0 10px;
}

.kayıtOl p a{
    text-decoration: none;
    color: var(--whiteColor);
    font-weight: 600;
}

.kayıtOl p a:hover{
    text-decoration: underline;
}
/*Login End*/

/*Contact Start*/
.contact{
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    background: url(img/İskenderiyeFeneri.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--whiteColor);
    padding: 3rem;
}

.cntct{
    display: flex;
    justify-content: center;
}

.cntct .title{
    font-size: 2.5rem;
}

.contact-left{
    display: block;
    width: 40%;
    padding: 3rem;
}

.contact-left1{
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--whiteColor);
}

.contact-information{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.contact-information i{
    color: var(--whiteColor);
    padding: 0.7rem;
    border-radius: 50%;
    border: 2px solid var(--whiteColor);
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: all 0.4s ease;
}

.contact-information i:hover{
    color: var(--color4);
    border: 2px solid var(--color4);
}

.contact-information a{
    color: var(--whiteColor);
}

.contact-left2{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-left2 a{
    color: var(--whiteColor);
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    transition: all 0.4s ease;
}

.contact-left2 a:hover{
    color: var(--color4);
}

.contact-right{
    width: 60%;
    padding: 3rem;
}

.contact-right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-right form input,textarea,button{
    color: var(--whiteColor);
    width: 100%;
    margin: 1rem 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid var(--whiteColor);
    transition: all 0.4s ease;
}

.contact-right form input:hover ,textarea:hover{
    color: var(--color1);
    background-color: var(--whiteColor);
}

.contact-right form input:focus ,textarea:focus{
    color: var(--color1);
    background-color: var(--whiteColor);
}

.contact-right form button{
    background-color: var(--color1);
    cursor: pointer;
}

.contact-right form button:hover{
    color: var(--color1);
    background-color: var(--whiteColor);
}
/*Contact End*/

/*Background*/
.World{
    overflow: hidden;
 width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.World video{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.World .content{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Wallpoet', cursive;
}
.World .content h1{
  margin: 0;
  padding: 0;
  font-size: 7em;
  text-transform: uppercase;
  color: var(--whiteColor);
  font-family: 'Wallpoet', cursive;
}
.content p{
    font-size: 30px;
    font-family: 'Wallpoet', cursive;
    color: var(--color1);
}
/*Background*/

/*First İntro*/
.İntros{
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: -5px;
    background: var(--color2);
}

.intro{
    width: 100%;
    padding: 20px;
    color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.İntros img{
    margin-left:10px;
   border: 2px solid var(--whiteColor);
   border-radius: 20px;
   width: 60%;
   height: auto;
}

.p-button{
    display: grid;
    justify-content: center;
    align-content: center;
}

.p-button p{
    font-size: 20px;
}

.btn a{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    color: var(--color1);
    font-size: 35px;
    font-family:  'Wallpoet', cursive; 
    background-color: var(--whiteColor);
    padding:0.4em 120px;
    border-radius: 30px;
}
/*First İntro*/

/* Map Page */
.scary{
    position: absolute;
    width: auto;
    height: 100%;
}
/* Map Page */

/*Fotter Start*/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color1);
    height: auto;
    padding-top: 40px;
    width: 100%;
    color: var(--whiteColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

h3{
    color: var(--color4);
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
footer p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: var(--color3);
}

.iletisim-bilgi{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.iletisim-bilgi li a{
    padding: 5px;
}

.iletisim-bilgi li a i{
    text-decoration: none;
    color: var(--whiteColor);
    border: 1.1px solid white;
    padding: 8px;
    border-radius: 50%;
    width: 35px;
}
.iletisim-bilgi li i:hover{
    color: var(--color4);
    border: 1.1px solid var(--color4);
}
.ftr-menu{
    margin-bottom: 20px;
}
.ftr-menu ul{
    display: flex;
}
.ftr-menu ul li{
    padding-right: 10px;
    display: block;
}
.ftr-menu ul li a{
    color: var(--color3);
    border: 1.3px solid white;
    padding: 6px 10px;
    border-radius: 50px;
    text-decoration: none;
}
.ftr-menu ul li a:hover{
    color: var(--color4);
}
.ftr-bottom{
    background: var(--color1);
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
footer.ftr-bottom p{
    text-align: center;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
footer.ftr-bottom p a{
    color: var(--color4);
    font-size: 16px;
    text-decoration: none;
}

#name{
    color: var(--color4);
}
/*Fotter End*/

/* Responsive Start */
@media (max-width:1050px) {
    .intro{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .İntros img{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
}

@media (max-width:1048px) {
    .nav-menu{
        margin-right: 20px;
    }

    .nav-item a{
        font-size: 17px;
    }
   
}

@media (max-width:950px) {
    .nav-menu{
        margin-right: 15px;
    }

    .nav-item a{
        font-size: 15px;
    }
    
    .contact{
        justify-content: center;
        align-items: center;
        height: 150vh;
    }

    .cntct{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .contact-left{
        width: 100%;
    }

    .contact-left1{
        border-bottom: 2px solid var(--color1);
    }

    .contact-right{
        width: 100%;
        padding: 1.5rem;
    }
   
}

@media (max-width:850px) {
    .nav-menu{
        margin-right: 10px;
    }

    .nav-item a{
        font-size: 12.8px;    
    }
}

@media (max-width:768px) {
    .nav{
        display: block;
    }

    .nav.active .bar:nth-child(2){
        opacity: 0;
    }

    .nav.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .nav.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--color2);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }
    
    .nav-item{
        margin: 16px 0;
    }

    .nav-item a{
        font-size: 17px;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-menu.active .nav-item i{
        display: inline-block;
    }
}

@media (max-width:576px) {
    .ftr-menu ul{
        display: block;
    }

    .ftr-menu ul li{
        padding: 10px;
    }
}
/* Responsive End */